In [1]:
# d={<key>:<values,<key>:<values,<key>:<values}
# mutable
# indexed
# ordered
# duplicate
d={'A':'Apple','B':'Ball'}
d['B']

'Ball'

In [2]:
d={}
d['A']='Apple'
d['B']='Ball'
d

{'A': 'Apple', 'B': 'Ball'}

In [3]:
d['A']='Ant'  #update
d

{'A': 'Ant', 'B': 'Ball'}

In [7]:
d={}
d[1]='Apple'
d[0]='Ball'
d[0]

'Ball'

In [5]:
d={}
d['0']='Apple'
d['1']='Ball'
d

{'0': 'Apple', '1': 'Ball'}

In [8]:
info={}
for i in range(2):
    name=input('Enter name = ')
    phone=input('Enter phone = ')
    info[name]=phone
print(info)

Enter name = ram
Enter phone = 454
Enter name = hari
Enter phone = 46544
{'ram': '454', 'hari': '46544'}

In [11]:
a={'A':"Apple"}
b={'B':'Ball'}
print(a*b)   #not allowed
print(a+b)    #not allowed

TypeError: unsupported operand type(s) for *: 'dict' and 'dict'

In [12]:
a={'A':"Apple"}
b={'B':'Ball'}
a.update(b)
print(a)

{'A': 'Apple', 'B': 'Ball'}

In [13]:
a={'A': 'Apple', 'B': 'Ball'}
for i in a:
    print(i)    #prints only keys

A
B

In [15]:
a={'A': 'Apple', 'B': 'Ball'}
for i in a.values():
    print(i)        #prints only values

Apple
Ball

In [16]:
a={'A': 'Apple', 'B': 'Ball'}
for i in a.items():
    print(i)        #prints both key and value as a tuple

('A', 'Apple')
('B', 'Ball')

In [17]:
# update clear del pop
a={'A': 'Apple', 'B': 'Ball'}
a.clear()   #empties the list
print(a)

{}

In [18]:
a={'A': 'Apple', 'B': 'Ball'}
del a['A']
print(a)

{'B': 'Ball'}

In [20]:
a={'A': 'Apple', 'B': 'Ball'}
del a['A':'B']   #not allowed   
a

TypeError: unhashable type: 'slice'

In [21]:
info={}
for i in range(2):
    name=input('Enter name = ')
    ncell_phone=input('Enter phone = ')
    ntc_phone=input('Enter phone = ')
    info[name]=[ncell_phone,ntc_phone]
print(info)

Enter name = ram
Enter phone = 5554
Enter phone = 686553
Enter name = shyam
Enter phone = 9898
Enter phone = 23535
{'ram': ['5554', '686553'], 'shyam': ['9898', '23535']}

In [22]:
name=input('Enter name = ')
print(info[name])

Enter name = ram
['5554', '686553']

In [24]:
a={'ram': ['5554', '686553'], 'shyam': ['9898', '23535']}
del a['ram'][0]
print(a)
a['ram'].append(54545)
print(a)

{'ram': ['686553'], 'shyam': ['9898', '23535']}
{'ram': ['686553', 54545], 'shyam': ['9898', '23535']}

In [38]:
b={}
a={'A':'apple','B':'ball'}
for i in a.items():
    if i[0]=='A':
        key=i[0].lower()
        value=i[1]
        b[key]=value
    else:
        key=i[0]
        value=i[1]
        b[key]=value
print(b)

{'a': 'apple', 'B': 'ball'}

In [34]:
b=[]
a={'A':'apple','B':'ball'}
for i in a.items():
    if i[0]=='A':
        x=list(i)
        x[0]='a'
        b.append(x)
    else:
        b.append(list(i))
            
    
print(b)

[['a', 'apple'], ['B', 'ball']]

In [31]:
#dictionary inside list
a=[{'Ram':68666},{'Shyam':664545}]
print(a)
print(a[0])
print(a[1])

[{'Ram': 68666}, {'Shyam': 664545}]
{'Ram': 68666}
{'Shyam': 664545}

In [32]:
a=[{'Ram':68666},{'Shyam':664545}]
a.append({'Hari':1254545})
print(a)

[{'Ram': 68666}, {'Shyam': 664545}, {'Hari': 1254545}]

In [33]:
n=int(input('Enter n = '))
z=[]
for i in range(n):
    name=input('Enter name = ')
    phone=input('Enter phone = ')
    d={name:phone}
    z.append(d)
print(z)

Enter n = 3
Enter name = ram
Enter phone = 54545
Enter name = nfdkasj
Enter phone = 7575
Enter name = daksdk
Enter phone = 23
[{'ram': '54545'}, {'nfdkasj': '7575'}, {'daksdk': '23'}]

In [2]:
n=int(input('Enter n = '))
z=[]
for i in range(n):
    name=input('Enter name = ')
    phone=input('Enter phone = ')
    d={name:phone}
    z.append(d)
print(z)

Enter n = 2
Enter name = kk
Enter phone = 55
Enter name = nmmnm
Enter phone = 888
[{'kk': '55'}, {'nmmnm': '888'}]

In [4]:
# dictionary inside dictionary
a={'Ram':{'NTC':9856544,'NCELL':98453444},
  'Shyam':{'NTC':985612544,'NCELL':9847553444}}
print(a)

{'Ram': {'NTC': 9856544, 'NCELL': 98453444}, 'Shyam': {'NTC': 985612544, 'NCELL': 9847553444}}

In [5]:
for i in a.items():
    print(i)

('Ram', {'NTC': 9856544, 'NCELL': 98453444})
('Shyam', {'NTC': 985612544, 'NCELL': 9847553444})

In [6]:
for i in a.values():
    print(i)

{'NTC': 9856544, 'NCELL': 98453444}
{'NTC': 985612544, 'NCELL': 9847553444}

In [7]:
for i in a:
    print(i)

Ram
Shyam

In [4]:
a={'Ram': {'NTC': 9856544, 'NCELL': 98453444}, 'Shyam': {'NTC': 985612544, 'NCELL': 9847553444}}
a['Hari']={'NTC':9841565256,'NCELL':981032656}
print(a)

{'Ram': {'NTC': 9856544, 'NCELL': 98453444}, 'Shyam': {'NTC': 985612544, 'NCELL': 9847553444}, 'Hari': {'NTC': 9841565256, 'NCELL': 981032656}}

In [11]:
a['Hari']['NTC']=9841857568
print(a)

{'Ram': {'NTC': 9856544, 'NCELL': 98453444}, 'Shyam': {'NTC': 985612544, 'NCELL': 9847553444}, 'Hari': {'NTC': 9841857568, 'NCELL': 981032656}}

In [13]:
a={["Apple",'Ant']:'A'}  #list and dictionary are mutable so they can't be used as key
print(a)

TypeError: unhashable type: 'list'

In [14]:
a={('Apple','Ant'):'A'}  #we can use tuple as a key
a

{('Apple', 'Ant'): 'A'}