In [3]:
try:
    b=open('class1030am.txt','x')
    b.close()
except:
    print('The file already exists')

The file already exists

In [12]:
b=open('class1030am.txt','r')
c=b.read()
print(type(c))
print(c)
b.close()

<class 'str'>
1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World
6.Hello World
7.Hello World

In [13]:
b=open('class1030am.txt','r')
c=b.read(20)
print(c)
b.close()

1.Hello World
2.Hell

In [11]:
b=open('class1030am.txt','r')
c=b.readline()
print(c)
b.close()

1.Hello World

In [15]:
b=open('class1030am.txt','r')
c=b.read()
print(type(c))
d=c.split('\n')
print(d)
b.close()

<class 'str'>
['1.Hello World', '2.Hello World', '3.Hello World', '4.Hello World', '5.Hello World', '6.Hello World', '7.Hello World']

In [16]:
print(d[0])

1.Hello World

In [19]:
b=open('class1030am.txt','r')
print(b.read())
print(b.read())
b.close()

1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World
6.Hello World
7.Hello World

In [20]:
b=open('class1030am.txt','r')
print(b.readline())
print(b.readline())
b.close()

1.Hello World

2.Hello World

In [21]:
b=open('class1030am.txt','r')
c=b.read()
n=int(input('Enter n = '))
for i in range(1,8):
    if i!=n:
        b.readline()
    else:
        print(b.readline())
b.close()

Enter n = 2

In [27]:
s=''
n=int(input('Enter n = '))
for i in range(n):
    name=input('Enter name =')
    phone=int(input('Enter phone = '))
    info=f'{name}--->{phone}\n'
    s=s+info
print(s)
b=open('class1030am.txt','w')
b.write(s)
b=open('class1030am.txt','r')
print(b.read())
b.close()

Enter n = 2
Enter name =gsgsfg5
Enter phone = 555
Enter name =sgsdgs
Enter phone = 888
gsgsfg5--->555
sgsdgs--->888

gsgsfg5--->555
sgsdgs--->888

In [26]:
s=''
n=int(input('Enter n = '))
for i in range(n):
    name=input('Enter name =')
    phone=int(input('Enter phone = '))
    info=f'{name}--->{phone}\n'
    s=s+info
print(s)
b=open('data.txt','w')
b.write(s)
b=open('data.txt','r')
print(b.read())
b.close()

Enter n = 2
Enter name =gsgs
Enter phone = 65464
Enter name =sggs
Enter phone = 897
gsgs--->65464
sggs--->897

gsgs--->65464
sggs--->897

In [28]:
s=''
n=int(input('Enter n = '))
for i in range(n):
    name=input('Enter name =')
    phone=int(input('Enter phone = '))
    info=f'{name},{phone}\n'
    s=s+info
print(s)
b=open('data.csv','w')
b.write(s)
b=open('data.csv','r')
print(b.read())
b.close()

Enter n = 2
Enter name =dfsfs
Enter phone = 89898
Enter name =fsdfdsf
Enter phone = 45444
dfsfs,89898
fsdfdsf,45444

dfsfs,89898
fsdfdsf,45444

In [31]:
b=open('data.csv','w')
b.write('Name,Phone\n')
s=''
n=int(input('Enter n = '))
for i in range(n):
    name=input('Enter name =')
    phone=int(input('Enter phone = '))
    info=f'{name},{phone}\n'
    s=s+info
print(s)

b.write(s)
b.close()

Enter n = 2
Enter name =ram
Enter phone = 49
Enter name =shyam
Enter phone = 54646
ram,49
shyam,54646

In [2]:
b=open('data.csv','r')
print(b.read())
b.close()

Sn,Name,Age,Address,Phone
1,Ram,25,Kathmandu,9854124536
2,Shyam,29,Pokhara,9874561265
3,Hari,24,Butwal,9842153678
4,John,35,Kapan,981245785
5,Rita,32,Gulmi,9865214578
6,Sita,19,Bara,98652354477
7,Hari,78,Kathmandu,9845123657
7,Hari,78,Kathmandu,9845123657

In [33]:
b=open('data.csv','r')
c=b.read()
print(c)
b.close()

Name,Phone
ram,49
shyam,54646

In [35]:
d=c.split('\n')
print(d)

['Name,Phone', 'ram,49', 'shyam,54646', '']

In [36]:
d[1]='ram prasad,98413265'
d

['Name,Phone', 'ram prasad,98413265', 'shyam,54646', '']

In [41]:
['Name,Phone', 'ram prasad,98413265', 'shyam,54646', '']
b=open('data.csv','w')
for i in d:
    b.write(f'{i}\n')
b.close()

In [43]:
import os
try:
    os.remove('data.txt')             #removes the file
except:
    print('There is no such file')

There is no such file

In [44]:
import os
if os.path.exists('data.txt'):
    os.remove('data.txt')
else:
    print('There is no such file')

There is no such file

In [45]:
import shutil as s
s.copy('data.csv','Untitled Folder')  #for copy we need to create folder first

'Untitled Folder\\data.csv'

In [46]:
import shutil as s
s.copytree('Untitled Folder','Untitled Folder 1')

'Untitled Folder 1'

In [48]:
import shutil as s
s.copytree('Untitled Folder','../Untitled Folder 1')   #copytree creates folder itself

'../Untitled Folder 1'