In [3]:
a='Hello World'
print(a)
print(type(a))

Hello World
<class 'str'>

In [2]:
a='Hello'
b='World'
print(a+b)
c='sy'  'thon'  #they get automatically concatenated  
print(c)

HelloWorld
sython

In [8]:
a='Hello World \n'
print(a*2)

Hello World
Hello World

In [8]:
a='Pyhton'
print(a[1:20])

yhton

In [1]:
a='Hellol'
print(a.count('y'))
print(a.endswith('o'))
print(a.find('b'))   #find returns -1 if no value found
print(a.find('o'))
# print(a.index('b'))  #index gives value error
print('b' in a )
print("The sum of 1 + 2 is {0}".format(1+2)) #Perform a string formatting operation
print(a.isalnum())
print(a.islower())

0
False
-1
4
False
The sum of 1 + 2 is 3
True
False

In [3]:
a=['hello','goodbye','what','hey','how']
print(', '.join(a))                         #important
b=str(a)
print(b)
print(type(b))

hello, goodbye, what, hey, how
['hello', 'goodbye', 'what', 'hey', 'how']
<class 'str'>

In [47]:
a='Pythontggt'
print(a[0])
print(a[-1])
a=a.split('t')  #when the seperator is==last item , then it creates an empty string at last like below
print(a)

P
t
['Py', 'hon', 'gg', '']

In [16]:
a='Hello World this is Python'
print(a[0:5])
print(a[5:10])
print(a[5:-1])
print(a[5:])

Hello
 Worl
 World this is Pytho
 World this is Python

In [17]:
a='Hello World this is Python'
print(a[0:10:2])

HloWr

In [24]:
a='python'
print(a[5:0]) #it gives nothing
print(a[5:0:-1])
print(a[5::-1])
print(a[-1::-1])

nohty
nohtyp
nohtyp

In [26]:
#String formatting
a='Apple'
b='Ball'
c=a+' '+b
d=f'{a} {b}'  #string formatting
print(c)
print(d)
print(type(d))

Apple Ball
Apple Ball
<class 'str'>

In [29]:
name=input('Enter name = ')
age=int(input('Enter age = '))
add=input('Enter address = ')
info=f'Hello my name is {name}.\nI am from {add}.\nI am {age}'
print(info)

Enter name = gfgs
Enter age = 3242
Enter address = fgs
Hello my name is gfgs.
I am from fgs.
I am 3242

In [1]:
s=''
n=int(input('Enter n = '))
for i in range(n):
    name=input('Enter name =')
    phone=int(input('Enter phone = '))
    info=f'{name}--->{phone}\n'
    s=s+info
print(s)

Enter n = 2
Enter name =dfs
Enter phone = 434
Enter name =dsf
Enter phone = 545
dfs--->434
dsf--->545

In [2]:
a='Hello My name is Ram. I am from kathmandu. I am 34'
if 'Ram' in a:
    print('Yes')
else:
    print('No')

Yes

In [4]:
a='Hello My name is Ram. I am from kathmandu. I am 34'
if 'Ram' in a:
    print('Yes',a.count('Ram'))
else:
    print('No')

Yes 1

In [6]:
a='Hello My name is Ram. I am from kathmandu. I am 34'
value=input("Enter value = ")
if value in a:
    print('Yes',a.count(value))
else:
    print('No')

Enter value = kathmandu
Yes 1

In [16]:
a='Hello My name is Ram. I am from kathmandu. I am 34'
b=a.lower()
value=input("Enter value = ").lower()
if value in b:
    print('Yes',b.count(value))
else:
    print('No')

Enter value = ram
Yes 1

In [7]:
a='Hello My name is Ram. I am from kathmandu. I am 34'.lower()
value=input("Enter value = ").lower()
if value in a:
    print('Yes',a.count(value))
else:
    print('No')

Enter value = ram
Yes 1

In [12]:
a='dfs--->434\ndsf--->545'
a=a.replace('dfs','Ram') 
print(a)

Ram--->434
dsf--->545

In [18]:
a='dfs--->434\ndsf--->545'
a=a.replace('dfs--->434','')
print(a)

dsf--->545

In [7]:
a='Hello World'
print(a.split())
print(a)
b='what hey'
b=b.split('y')
print(b)

['Hello', 'World']
Hello World
['what he', '']

In [24]:
a='dfs--->434\ndsf--->545'
a=a.split()
print(a)
print(a[0])

['dfs--->434', 'dsf--->545']
dfs--->434

In [1]:
#WAP to find the grade of a student

n=int(input('Enter the number of students = '))
for i in range(n):
    name=input('Enter the name of the student : ')
    math=int(input('Enter marks of math = '))
    sci=int(input('Enter marks of science = '))
    eng=int(input('Enter marks of english = '))
    comp=int(input('Enter marks of computer = '))
    nep=int(input('Enter marks of nepali = '))
    if math>100 or math<0 or sci>100 or sci<0 or eng>100 or eng<0 or comp>100 or comp<0 or nep>100 or nep<0:
        print('Invalid entry.Marks cannot be greator than 100 or less than 0')
    elif 0<=math<32 or 0<=sci<32 or 0<=eng<32 or 0<=comp<32 or 0<=nep<32:
        print(f'{name} has failed the exam')
    else:
        perc=round(float((math+sci+eng+comp+nep)/500*100),2)
        if perc>=80:
            print(f'{name} got {perc}% with A+ grade')
        elif perc>=60 :
            print(f'{name} got {perc}% with A grade')
        elif perc>=45:
            print(f'{name} got {perc}% with B grade')
        else:
            print(f'{name} got {perc}% with C grade')

Enter the number of students = 2
Enter the name of the student : ram
Enter marks of math = 98
Enter marks of science = 65
Enter marks of english = 95
Enter marks of computer = 95
Enter marks of nepali = 65
ram got 83.6% with A+ grade
Enter the name of the student : shyam
Enter marks of math = 65
Enter marks of science = 65
Enter marks of english = 45
Enter marks of computer = 35
Enter marks of nepali = 63
shyam got 54.6% with B grade

In [17]:
#WAP for billing system
s=''
total=0
num=int(input('Enter the number of items'))
for i in range(num):
    product=input('Enter the name of the product')
    price=float(input('Enter the unit price of the product'))
    qty=float(input('Enter the quantity of the product'))
    tot=price*qty
    s+=f'{qty}kg X {product} @ Rs{price}={tot}\n'
    total+=tot
print(s)
print(f'The total price is {total}')

Enter the number of items3
Enter the name of the productapple
Enter the unit price of the product25.5
Enter the quantity of the product5
Enter the name of the productmango
Enter the unit price of the product50
Enter the quantity of the product3
Enter the name of the productbanana
Enter the unit price of the product90
Enter the quantity of the product4
5.0kg X apple @ Rs25.5=127.5
3.0kg X mango @ Rs50.0=150.0
4.0kg X banana @ Rs90.0=360.0

The total price is 637.5

In [64]:
a='hello world '
a=a.split(' ')  #it splits and makes three items because there is one more space after world
print(a)

['hello', 'world', '']

In [66]:
a='hello world, '
print(a.split(','))  #it splits and makes three items because there is one more comma after world

['hello world', ' ']